/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 27, 2024, 10:24:06 AM
    Author     : upekhansaja
*/

*{
    padding: 0;
    margin: 0;
}

body{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
}

form{
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
}

h1{
    font-weight: 500;
    padding-bottom: 20px;
}

label, input, select, button{
    font-size: 18px;
}

input[type=text],input[type=tel],input[type=password]{
    width: 90%;
    padding: 4px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

input[type=radio] {
    margin-bottom: 20px;
}

select{
    width: 100%;
    padding: 4px 10px 4px 30px;
    border-radius: 20px;
    margin-bottom: 10px;
}

button{
    padding: 5px 40px;
    border-radius: 20px;
    margin-top: 30px;
}

.logout-btn{
    margin-top: -10px !important;
}

.erMsg{
    color: red;
    font-family: monospace;
    font-weight: 300;
    margin: 20px 0;
    font-size: 14px;
}

.erMsg > a{
    color: red;
}